/problematicas/Probelma01/nbproject/private/
/problematicas/Probelma01/build/
/problematicas/Problema02/nbproject/private/
/problematicas/Problema02/build/
/problematicas/Problema03/nbproject/private/
/problematicas/Problema03/dist/
/problematicas/Problema03/build/
